<header>
    <span class="logo"><%= link_to 'MyDiary', root_path %></span>
    <div class="ms-auto px-3 py-0 border-start border-dark bg-light text-center">
        <h3><%= @user.name %></h3>
        <p class="m-0"><%= link_to 'ログアウト', signout_path, method: :delete, data: { confirm: "ログアウトしてもよろしいですか？" } %></p>
    </div>
</header>