<div class="header">
    <% if @user %>
        <h1><%= link_to 'MyDiary', root_path %></h1>
        <p><%= @user.name %>さん</p>
        <%= link_to 'ログアウト', logout_path, method: :delete %>
    <% end %>
</div>