<div class="header">
    <% if @user %>
        <p><%= link_to 'MyDiary', root_path %></p>
        <h1><%= @user.name %></h1>
        <%= link_to 'ログアウト', logout_path, method: :delete %>
    <% end %>
</div>