<section>
    <h3 class="headline">日記一覧</h3>
    <%= month_calendar events: @user.diaries do |date, diaries| %>
        <%= date.day %>
        <% diaries.each do |diary| %>
            <div>
                <%= link_to diary.title, diary %>
            </div>
        <% end %>
    <% end %>
    <div class="pt-3 text-center">
        <%= link_to '日記を作る', new_diary_path, class: 'btn btn-info' %>
    </div>
</section>