.simple-calendar {
    max-width: 750px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 0px #555;
    background: #fff;
    .calendar-heading {
        margin: 10px 20px;
        position: relative;
        .calendar-title {
            text-align: left;
            .month-ja-name {
                font-size: 30px;
            }
        }
        .calendar-shift {
            position: absolute;
            right: 20px;
            bottom: 0;
            a {
                padding: 0 10px;
                border: 1px solid #555;
                border-radius: 10px;
                font-size: 20px;
                text-decoration: none;
                &:hover {
                    color: #fff;
                    background: blue;
                    text-decoration: none;
                }
            }
        }
    }
    .table {
        margin: 0;
        th {
            text-align: center;
        }
    }
    .day {}
  
    .wday-0 {
        background: #FFF0F5 !important;
    }
    .wday-1 {}
    .wday-2 {}
    .wday-3 {}
    .wday-4 {}
    .wday-5 {}
    .wday-6 {
        background: #F0FFFF !important;
    }
  
    .today {
        border: 3px solid coral;
    }
    .past {}
    .future {}
  
    .start-date {}
  
    .prev-month {
        color: lightgray;
        background: unset !important;
    }
    .next-month {
        color: lightgray;
        background: unset !important;
    }
    .current-month {}
  
    .has-events {
        a {
            font-weight: bold;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}