/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */


/* ---------- App ---------- */

@charset "UTF-8";

body {
    background: repeating-linear-gradient(
        -45deg,
        rgb(255, 245, 222) 0, rgb(255, 245, 222) 5px,
        #fff 5px, #fff 10px
    );
}

.btn {
    min-width: 125px;
}
.logo {
    color: #0000AA;
    font-family: serif;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    a {
        text-decoration: none;
    }
}
.headline {
    padding: 5px;
    background: aquamarine;
    text-align: center;
    font-weight: bold !important;
    letter-spacing: 5px;
}

/* ---------- Page Authentication ---------- */

.auth__container {
    max-width: 350px;
    margin: 100px auto;
    padding: 25px;
    text-align: center;
    box-shadow: 0px 0px 5px 0px #555;
    background: floralwhite;
}

/* ---------- Header ---------- */

header {
    display: flex !important;
    padding-left: 20px;
    border-bottom: 1px solid #555;
    background: whitesmoke;
}

/* ---------- Show page ---------- */

.showPage {
    max-width: 700px;
    margin: 0 auto;
    padding: 1.5rem;
    background: aliceblue;
    box-shadow: 0px 0px 5px 0px #555;
    .showPage_headline {
        display: flex;
        padding: 10px 0;
        border-top: 1px solid;
        border-bottom: 1px solid;
    }
}

/* ---------- New/Edit Form ---------- */

.form__container {
    max-width: 700px;
    margin: 0 auto;
    padding: 5px 20px;
    box-shadow: 0px 0px 5px 0px #555;
    background: honeydew;
}

/* ------------------------------------------------------------ */
