/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */


/* ---------- common ---------- */
@charset "UTF-8";

html {
    height: 100%;
}
body {
    height: 100%;
}
header {
    display: flex !important;
    padding-left: 20px;
    border-bottom: 1px solid #555;
    background: whitesmoke;
}
.app-logo {
    color: #0000AA;
    font-size: 50px;
    font-family: serif;
    font-weight: bold;
    :hover {
        text-decoration: none;
    }
}
main {
    padding-bottom: 5px;
}
.btn {
    width: 110px;
    margin: 0 10px;
}

/* ---------- Show page ---------- */
.showPage__block {
    background: mintcream;
    .show__contents {
        background: aliceblue;
        .s__contents-title {
            display: flex;
            padding: 20px 0;
            border-top: 1px solid;
            border-bottom: 1px solid;
            .bg-turquoise {
                background: turquoise;
            }
            .text-darkblue {
                color: darkblue;
            }
        }
    }
}
/* ------------------------------ */

/* ---------- New/Edit page ---------- */
h3 {
    margin: 0;
    padding: 5px;
    text-align: center;
    font-weight: bold !important;
    letter-spacing: 5px;
}
.newPage__block {
    height: 100%;
    background: honeydew;
    h3 {
        background: aquamarine;
    }
}
.editPage__block {
    height: 100%;
    background: azure;
    h3 {
        background: aqua;
    }
}
/* ------------------------------ */

/* ---------- Form (New/Edit) ---------- */
.form-group {
    .form-space {
        margin: 10px 0;
    }
}
/* ------------------------------ */